@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.wrapper {
    margin-top: var(--offset-md);
    max-width: 350px;

    .label {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        font-weight: 350;
    }

    .infoBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .error {
        position: absolute;
        left: calc(100% + var(--offset-xs));
        background: var(--red-l);
        border: 1px solid var(--red-l);
        padding: 12px;
        z-index: 2;
    }
    
    .link {
        font-size: 12px;
        color: var(--blue-l-l);
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        line-height: 19px;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }

    .field {
        margin-top: 5px;
        display: block;
        height: 40px;
        border: 1px solid var(--blue-l);
        border-radius: 5px;
        outline-color: var(--red-l);
        padding: 3px 15px;
        font-size: 16px;
        box-shadow: 0 0 10px var(--blue-l);

        &.alert {
            border-color: var(--red-l);
        }

        &.alert:focus {
            outline-color: var(--red-l);
        }
    }
}
