@import '../../__data__/style/colors.css';
.main {
    border-radius: 3px;
    margin-top: 10px;
    height: 40px;
    width: 90%;
    color: var(--white);
    border: none;
    font-style: normal;
    line-height: 19px;
    font-weight: 600;
    font-size: 16px;
    &:focus {
        outline-color: var(--blue);
    }
}

.red {
    background-color: var(--red);
}

.blue {
    background-color: rgba(104, 174, 255, 0.5);
}