.nav{
    background: url('/src/assets/img/navigations.png');
}

.item{
    background: rgba(104, 174, 255, 0.5);
    border-radius: 3px;
    height: 30px;
    width: 80%;
    padding: 10px;
    list-style-type: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: list-item;
    font-width: 700;
    margin: 10px 20px 10px;
}

.aside {
    width: 40%;
}
