@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';


.form {
    background-color: var(--white);
    min-width: 280px;
    width: 300px;
    min-height: 450px;
    border-radius: 5px;
    border: 2px solid var(--blue-l);
    color: #68AEFF;
    justify-content: center;
    padding: 10px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px var(--grey);
}
.title {
    font-size: var(--offset-md);
    text-align: center;
    color: var(--grey-l);
    margin-top: 0px;
    margin-bottom: var(--offset-md);
}

.login-field {
    margin-top: calc(2 * var(--offset-md));
}
.controlls {
    display: flex;
    flex-direction: column;
    margin-top: var(--offset-md);
}

.forgotWrapper {
    margin-top: 6px;
}
   
.forgot {
    float: right;
    color: var(--red);
    text-align: right;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
    &:focus {
        outline-color: var(--black);
    }
}
.submit-Button {
    background: var(--red-l);
    border-radius: var(--offset-xxs);
    margin: auto;
    display: block;
    margin-top: 10%;
}
.close {
    min-width: 30px;
    min-height: 30px;
    background: var(--red-l);
    border: 0;
    border-radius: var(--offset-xxs);
    margin: auto;
    top: 50%;
    display: block;
    margin-right: 5px;
    color: #fff;
}