@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.form {
    background-color: var(--white);
    min-width: 280px;
    border-radius: 5px;
    border: 2px solid var(--blue-l);
    color: #68AEFF;
    justify-content: center;
    padding: 10px;
    height: 450px;
    width: 300px;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px var(--grey);
}
.title {
    font-size: var(--offset-md);
    text-align: center;
    color: var(--grey-l);
    margin-top: 0px;
    margin-bottom: var(--offset-md);
}