.grid-template {
    display: grid;
    grid-gap: 10px;
    grid-template: 
        "header header header" auto
        "nav bar bar" auto
        "nav common common" auto
        "footer footer footer"/ auto;
    div {
      background-color: var(blue-l-l);
      margin: 0;
      padding: 10px;
      text-align: center;
      color: white;
      &.header{
        grid-area: header;
      }
      &.nav{
        grid-area: nav;
      }
      &.bar{
        grid-area: bar;
      }
      &.footer{
        grid-area: footer;
      }
      &.common{
        grid-area: common;
      }
    }
  }