@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.searching{
    weight: 30px;
    height: 28px;
    margin-right: 100px;
    margin: 10px auto auto 100px;
}
.input{
    background-color: var(--blue-l);
    border-radius: 20px;
    padding: 10px;
    color: var(--grey-l);
    font-weight: 600;
    border: 0;
    font-size: var(--offset-sm);
    height: var(--offset-xs);
}