@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.modal {
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    top: 25%;
    left: 50%;
}
.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(0, 0, 0, 0.3);
}    

