@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

main {
}

section {
    
}
.row{
    background: rgba(104, 174, 255, 0.5);
    border-radius: 3px;
    width: 100px;
    padding: 20px;
    margin: 20px 20px 10px 20px;
    text-decoration: none;
    font-width: 300;
    min-height: 80px;
    display: inline-block;
    &:hover {
        background-color: var(--red-l);
    }

    &:focus {
        outline-color: var(--black);
    }
}
.item{
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: row;
}
