:root {
    --white: #ffffff;
    --black: #000000;
    --red: #ff0000;
    --blue: #077ac7;
    --grey: #aca9a9;
    --grey-l: rgba(0,0,0,.3);
    --red-l: rgba(255, 104, 104, 0.9);
    --blue-l: rgba(104, 174, 255, 0.1);
    --blue-l-l: rgba(105, 174, 255, 0.06);
}