@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.type-link {
    text-decoration: none;
    font-weight: normal;
    line-height: 19px;
    display: block;
    margin: 20px;
    &:hover {
        text-decoration: underline;
    }
}

.size {
    &-lg {
        line-height: 30px;
        font-size: var(--size-lg);
    }

    &-md {
        font-size: var(--size-md);
    }

    &-sm {
        font-size: var(--size-sm);
    }

    &-xs {
        font-size: var(--size-xs);
    }
}

.color {
    &-blue {
        color: var(--blue);
    }

    &-black {
        color: var(--black);
    }
}

.type-button {
    font-size: 20px;
    font-weight: 600;
    min-height: 56px;
    text-decoration: none;
    text-align: center;
    padding: var(--offset-sm) 0;
    margin-top: var(--offset-sm);
    border-radius: 10px;

    &:hover {
        background-color: var(--blue);
    }

    &:focus {
        outline-color: var(--black);
    }
}